{% extends 'base.html.twig' %}

{% block title %}Amp berria{% endblock %}
{% block header %}AMP{% endblock %}
{% block header_desc %}berria{% endblock %}
{% block breadcrumbs %}
    <li class="active">AMP</li>
    <li class="active">Berria</li>
{% endblock %}

{% block body %}
    <div class="row">

        <div class="col-xs-12">

            <div class="box">
                <div class="box-header">
                    <a id="btn-save" class="btn btn-sm btn-primary"><i class="fa fa-save"></i>&nbsp; Gorde</a>
                    <a class="btn btn-sm btn-default" href="{{ path('amp_index') }}"><i class="fa fa-fw fa-arrow-alt-circle-left" aria-hidden="true"></i> {{ 'Zerrendara itzuli' | trans }}</a>
                </div>
                <div class="box-body">
                    {{ include('amp/_form.html.twig') }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
