
                    <table class="table">
                        <tbody>
                        <tr>
                            <th>Egoera</th>
                            <td>{{ hutsak.egoera  | raw }}</td>
                        </tr>
                        <tr>
                            <th>Signatura</th>
                            <td>{{ hutsak.signatura  | raw }}</td>
                        </tr>
                        <tr>
                            <th>Zaharra</th>
                            <td>{{ hutsak.zaharra | raw  }}</td>
                        </tr>
                        <tr>
                            <th>Berria</th>
                            <td>{{ hutsak.berria  | raw }}</td>
                        </tr>
                        </tbody>
                    </table>
