{% extends 'base.html.twig' %}

{% block title %}New Hutsak{% endblock %}

{% block body %}
    <h1>Create new Hutsak</h1>

    {{ include('hutsak/_form.html.twig') }}

    <a href="{{ path('hutsak_index') }}">back to list</a>
{% endblock %}
