{% extends 'pdf.html.twig' %}

{% block body %}
    <table class="table">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ pendientes.id }}</td>
        </tr>
        <tr>
            <th>Signatura</th>
            <td>{{ pendientes.signatura | raw }}</td>
        </tr>
        <tr>
            <th>Data</th>
            <td>{{ pendientes.data | raw }}</td>
        </tr>
        <tr>
            <th>Espedientea</th>
            <td>{{ pendientes.espedientea | raw }}</td>
        </tr>
        </tbody>
    </table>
    <hr>
{% endblock %}
