
                    <table class="table">
                        <tbody>
                        <tr>
                            <th>Data</th>
                            <td>{{ entradas.data  | raw }}</td>
                        </tr>
                        <tr>
                            <th>Igorlea</th>
                            <td>{{ entradas.igorlea  | raw }}</td>
                        </tr>
                        <tr>
                            <th>Deskribapena</th>
                            <td>{{ entradas.deskribapena  | raw }}</td>
                        </tr>
                        <tr>
                            <th>Signatura</th>
                            <td>{{ entradas.signatura | raw  }}</td>
                        </tr>
                        </tbody>
                    </table>
