
                    <table class="table">
                        <tbody>
                        <tr>
                            <th>Deskribapena</th>
                            <td>{{ liburuxka.deskribapena  | raw }}</td>
                        </tr>
                        <tr>
                            <th>Data</th>
                            <td>{{ liburuxka.data  | raw }}</td>
                        </tr>
                        <tr>
                            <th>Azalpenak</th>
                            <td>{{ liburuxka.azalpenak | raw  }}</td>
                        </tr>
                        <tr>
                            <th>Signatura</th>
                            <td>{{ liburuxka.signatura | raw  }}</td>
                        </tr>
                        </tbody>
                    </table>
