{% extends 'base.html.twig' %}

{% block sidebar %}{% endblock %}

{% block body %}
    <h1>UPS!</h1>

    <p> Akats bat egon da eskaera prozesatzerakoan.</p>
    <p> <a href="{{ path('home') }}">Itzuli hasierako orrira</a>.</p>
{% endblock %}
