{% extends 'base.html.twig' %}

{% block sidebar %}{% endblock %}

{% block body %}
    <h1>Ez duzu baimenik eskaera burutzeko</h1>

    <p>
        <a href="{{ path('home') }}">Itzuli</a>.
    </p>
{% endblock %}
